## String Based Assignment Problem

1. Write a program to reverse a string

Fixing this input through the practice problems

"""will only change when there is a specific demand that
can not be fullfilled with this string"""

name = 'satyam'

In [73]:
name = 'satyam'
#reverse string
print(name[::-1])

maytas

2. Check if a string is a palindrome.

In [74]:
string = 'racecar'
if string == string[::-1]:## ::-1 is for reverse strin
    print('Yes! {} is a palindrome '.format(name))
else:
    print('No, It is not a palindrome')

Yes! satyam is a palindrome

3. Convert a string to uppercase

In [75]:
print('{} in UPPERCASE {}'.format(name,name.upper()))

satyam in UPPERCASE SATYAM

4. Convert a string to lowercase

In [76]:
string = 'SATYAM'
print('{} in lowercase is {}'.format(string, string.lower()))

SATYAM in lowercase is satyam

5. Count the number of vowels in a string

In [77]:
string = 'hello my name is satyam sharma'

## relaced with a random string say'#'
replaced_string = string.replace('a','#').replace('i','#').replace('e','#').replace('o','#').replace('u','#')
replaced_string.count('#')

9

6. Count the number of consonants in a string

In [78]:
## logic = total length - vowels
## make sure to remove all the whitespaces

without_space_string = string.replace(' ','')
total_length = len(without_space_string)
replaced_string = without_space_string.replace('a','#').replace('i','#').replace('e','#').replace('o','#').replace('u','#')

vowels = replaced_string.count('#')
print('total consonants', total_length-vowels)

total consonants 16

7. Remove all whitespaces from a string

In [79]:
string = 'Hello my name is Satyam sharma'
string.replace(' ','')

'HellomynameisSatyamsharma'

8. Find the length of a string without using the 'len()' function

In [80]:
## Using for loop
def custom_len(sequence):
    count = 0
    for element in sequence:
        count += 1
    return count


print(custom_len('satyam'))

6

*Plese share the approach with me if there is any other way to do this problem..
The only way I could do this problem is by the using function*

9. Check if a string contains a specific word.

In [83]:
name= 'is'
sent='hello my name is satyam sharma'
if name in sent:
    print("yes '{}' is in the string [{}]".format(name,sent))
else:
    print('No')

yes 'is' is in the string [hello my name is satyam sharma]

10. Replace a word in a string with another word

In [84]:
sent.replace(name,'james bond')

'hello my name james bond satyam sharma'

11. Count the occurrences of a word in a string

In [85]:
sent.count('a')

5

12. Find the first occurrence of a word in a string

In [86]:
name = 'satyam'
name.find('a')

1

13. Find the last occurrence of a word in a string

In [87]:
name.rfind('a')

4

14. Split a string into a list words

In [88]:
sent.split()

['hello', 'my', 'name', 'is', 'satyam', 'sharma']

15. Join a list of words into string

In [89]:
list_sent = sent.split()
print(list_sent)
''.join(list_sent)

['hello', 'my', 'name', 'is', 'satyam', 'sharma']

'hellomynameissatyamsharma'

16. Convert a string where words are seperated by spaces to one where words are separeted by underscores

In [90]:
print('original sentence  - \n',sent)
print('Replaced sentence - \n')
sent.replace(' ' ,'_')

original sentence  -
 hello my name is satyam sharma
Replaced sentence -

'hello_my_name_is_satyam_sharma'

17. Check if a string starts with a specific word or phase

In [91]:
name.startswith('s')

True

18. Check if a string ends with a specific word or phase

In [92]:
name.endswith('m')

True

19. Convert a string to title case

In [93]:
print(sent)

#converted into title case
sent.title()

hello my name is satyam sharma

'Hello My Name Is Satyam Sharma'

20. Find longest word in a string

In [94]:
list_sent = sent.split()
max(list_sent)

'sharma'

21. Find the shortest word in string

In [95]:
min(list_sent)

'hello'

22. Reverse the order of words in a string

In [96]:
sent[::-1]

'amrahs maytas si eman ym olleh'

23. Check if a strnig is alphanumeric

In [97]:
name.isalnum()

True

24. Extract all digits from a string

In [98]:
## filter(function , iterable)
## does not return direct ouput
string = 'satyam007'
digits = "".join(filter(str.isnumeric, string))
print(digits)

007

25. Extract all aphabets from a string

In [99]:
string = 'satyam007'
digits = "".join(filter(str.isalpha, string))
print(digits)

satyam

In [100]:
## We can also print the desired ouput in the form of list
list(filter(lambda x : x if x.isalpha() else None , string))

['s', 'a', 't', 'y', 'a', 'm']

26. Count the number of uppercase letters in a string

In [101]:
## Approach 1st

string = 'satTYAm'
uppercase = "".join(filter(str.isupper, string))
print(len(uppercase))

3

In [102]:
## Approach 2nd

## remove uppercase letters and take the difference of the lengths
## maketrans creates a mapping table

#translate do that action
##maketrans('string for replacement','string replacement with','string')
import string
string2 = 'saTYAm'
mapping = str.maketrans('','',string.ascii_uppercase)
removed_upper_letters=string2.translate(mapping)
print(len(string2) - len(removed_upper_letters))

3

27. Count the number of lowercase letters in a string

In [103]:
## will follow same 1st approach
string = 'satyAM'
len("".join(filter(str.islower, string)))

4

28. Swap the case of each character in a string

In [104]:
string = 'my NAMe Is SATYam shArMA'
string.swapcase()

'MY namE iS satyAM SHaRma'

29. Remove a specific word from a string

In [105]:
## Without string function use
string = 'satyam'
removing_word  = 's'
mapping = str.maketrans('','',removing_word)
string.translate(mapping)

'atyam'

In [106]:
## With string function - .replace()
string.replace('s','')

'atyam'

30. Check if a string is a valid email address

Before we jump into solving the problems-<br>
some validations regarding emails are -<br>
✅sdfsdgsd@xyz.{com}of{in}of{co}/any 2 or more character after '.'<br>
❌.sdfsdfds@xyz.in (cant use '.' as a first charcater)<br>
❌@gsdedfxyx.com ('@' cant be first charcater)<br>
❌@sdfsdf sdlfds@gmail.com (Can't be whitespace anywhere in the email address)<br>
✅3243-satya@gmail.com

In [107]:
## Approach 1st with string operations
x = input('Enter your email address')
## Lets be straight forward with the approach

def is_valid_email(email):
    # Split the email into username and domain parts
    if "@" not in email or email.count("@") != 1:
        return False

    username, domain = email.split("@")

    # Check the username part
    if not username:
        return False

    valid_chars = set(
        "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789.-_+"
    )
    if not all(char in valid_chars for char in username):
        return False

    # Check the domain part
    if not domain:
        return False

    valid_domain_chars = set(
        "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789.-"
    )
    if not all(char in valid_domain_chars for char in domain):
        return False

    if domain.count(".") != 1:
        return False

    return True

if is_valid_email(x):
    print('Congrats, your email address is valid email adress')
else:
    print('Sorry , this email is not valid')

Enter your email address satyamdelhi1230@gmail.com

Congrats, your email address is valid email adress


**Conclusion-**<br>
* Even applying a lot of restrictions in the form of if else, We can not be sure if this program is capable to validate a correct email address. 
* Also it will not be that much efficient.
* So It would be preferable to go with Regex
* Which makes the program efficient and can give 100% accuracy

In [108]:
## Approach 2nd with Regex
import re
emails = [
    'codexisislonglastingnotfog@gmail.com',
    'iamjamesbond-towith.com',
    'user@example.co.uk',
    '@example.com',
    'user@.com'
]
pattern = r'^[A-Za-z0-9.-]+@[A-Za-z0-9-]+\.[a-zA-Z]{2,}(?:\.[a-zA-Z]{2,})?$'
for email in emails:
    print(email)
    if re.match(pattern,email):
        print('Yes, A valid email address')
    else:
        print('No, not a valid email address')
    print('--------')

codexisislonglastingnotfog@gmail.com
Yes, A valid email address
--------
iamjamesbond-towith.com
No, not a valid email address
--------
user@example.co.uk
Yes, A valid email address
--------
@example.com
No, not a valid email address
--------
user@.com
No, not a valid email address
--------

31. Extract the username from an email adderss string

*We are keeping this program on easier side. <br>
Not going to check if a email is a valid or not<br>
As we have done this above*

In [109]:
x = input('Enter your email address')
print('Your username is ',x.split('@')[0])

Enter your email address pankaj-tripathi@gmail.com

Your username is  pankaj-tripathi

32. Extract the domain name from an email address string

In [111]:
x = input('Enter email address')
print('your domain name ',x.split('@')[1])

Enter email address codexistslonglastingnogfog@gmail.com

your domain name  gmail.com

33. Replace multiple spaces in a string with a single space.

In [112]:
## Approach 1st (string operations)
string = 'This string contains     too much      spaces'
" ".join(string.split())

'This string contains too much spaces'

In [113]:
## Approach 2 ( Regex)

def replace_multiple_spaces_with_single_space(input_string):
    # Use a regular expression to replace multiple spaces with a single space
    return re.sub(r'\s+', ' ', input_string)
print('Single spaced string-\n',replace_multiple_spaces_with_single_space(string))

Single spaced string-
 This string contains too much spaces

34. Check if a string is a valid URL

In [114]:
## start with creating a valid hostname function
## will return true or false 

## will use it in our main function

def is_valid_hostname(hostname):            
    
            # A valid hostname can only contain letters, digits, hyphens, and periods
            valid_characters = set("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789.-")
            if not all(char in valid_characters for char in hostname):
                return False

            # A valid hostname cannot start or end with a hyphen
            if hostname[0] == '-' or hostname[-1] == '-':
                return False

            # A valid hostname cannot have consecutive periods (dots)
            if ".." in hostname:
                return False

            # A valid hostname must have at least one period (dot)
            if hostname.count('.') < 1:
                return False

            return True

def is_valid_url(url):
    # Check if the URL starts with a valid scheme (http, https, ftp, etc.)
    valid_schemes = ["http://", "https://"]
    ## START WITH valid_scheme as False (by default)
    has_valid_scheme = False
    for scheme in valid_schemes:
        if url.startswith(scheme):
            has_valid_scheme = True
            break
   ## stored True or False in 'has_valid_scheme' variable
    
    
    ## If our basic condition is not matched return False
    ## do not need to check further
    
    if not has_valid_scheme:
        return False

    ## If it has a valid scheme then 
    # Check if the URL contains a valid domain (hostname)
    # hostname - www.google.com
    url_without_scheme = url.split("://", 1)[1]
    parts = url_without_scheme.split("/")
    if not parts[0]:
        return False
    else:
        ## same for checking the validation of hostname
        is_valid_hostname(parts[0])            


    return True
url_link = "https://mango-actor-avfua.pwskills.app/lab/tree/work/Assignments/20th_August_Practice_question_string.ipynb"

if is_valid_url(url_link):
    print('Yes, This is a valid URL')
else:
    print('No, This is not a valid URL')

Yes, This is a valid URL

35. Extract the protocol(http or https) from the URL string

In [115]:
print(url_link)
print('---')
print('Used protocol is',url_link.split('://')[0])

https://mango-actor-avfua.pwskills.app/lab/tree/work/Assignments/20th_August_Practice_question_string.ipynb
---
Used protocol is https

36. Find the frequency of each character in a string

In [116]:
string = 'This string contians lots of repeatations let see if the program can count the frequency'
print('Original string-',string)
dict = {}
for char in string:
    if char in dict.keys():
        pass
    else:        
        dict[char] = string.count(char)
print(dict)

Original string- This string contians lots of repeatations let see if the program can count the frequency
{'T': 1, 'h': 3, 'i': 5, 's': 6, ' ': 14, 't': 9, 'r': 5, 'n': 7, 'g': 2, 'c': 4, 'o': 6, 'a': 5, 'l': 2, 'f': 3, 'e': 9, 'p': 2, 'm': 1, 'u': 2, 'q': 1, 'y': 1}

37. Remove all punctuation from a string

In [117]:
import string

text = "Hello, #%, &  punctuation #,"
punctuation_translation = str.maketrans('', '', string.punctuation)
text_without_punctuation = text.translate(punctuation_translation)

print(text_without_punctuation)

Hello    punctuation

In [118]:
## Approach 2nd
remove_punctuation = lambda x : [x for x in text if x not in string.punctuation] 
"".join(remove_punctuation(text))

'Hello    punctuation '

38. Check if a string contains only digits

In [119]:
test = '345234234'
if test.isdigit():
    print('Yes, {} contains only digit'.format(test))

Yes, 345234234 contains only digit

39. Check if a string contains only alphabets

In [120]:
test = ['satyamsharma', 'satyamsharma09']
for i in test:
    if i.isalpha():
        print('Yes, {} contains only alphabets'.format(i))
    else:
         print('No, {}  contains not only alphabets'.format(i))

Yes, satyamsharma contains only alphabets
No, satyamsharma09  contains not only alphabets

40. Convert a string to a list of characters

In [121]:
text = 'hello friend'
l = []
for char in text:
    l.append(char)
l

['h', 'e', 'l', 'l', 'o', ' ', 'f', 'r', 'i', 'e', 'n', 'd']

41. Check if two strings are anagrams

In [122]:
## anagrams - word that can be made by transposing the characters of another words
## Then they will be called anagrams

## logic just make sure every charc of 1st word present in 2nd word

word1 = 'throw'
word2 = 'worth'
result = True
for char1 in word1:
    if char1 not in word2:
        result = False
        break
if result:    
    print('YES {} and {} are anagrams'.format(word1, word2))
else:
    print('No, they are not anagrams')

YES throw and worth are anagrams

42. Encode a string using a Caesar cipher

43. Decode a Caesar cipher encoded string

44. Find the most frequent word in a string

In [123]:
string = 'hello this  is the test string'
freq_dic= {}

for i in string:
    i = i.lower()
    if i in freq_dic.keys():
        freq_dic[i] = freq_dic[i] + 1
    else:    
        freq_dic[i] = string.count(i)

##dictioary has been created now getting the key of which value is maximum
"""It is obvious that the secquence of the character would be same with
the actual secquence of char in the string. So index can give us the maximum
frequency's char"""
print(freq_dic)

{'h': 5, 'e': 5, 'l': 3, 'o': 1, ' ': 11, 't': 9, 'i': 5, 's': 7, 'r': 1, 'n': 1, 'g': 1}

* In above program, I will be required more time to build the logic how to get the maximum frequent word. 
* Till then I have created a dictionary which we can use to find the maximum frequent word in the string

In [124]:
## Approach 2nd - with the use of Counter

from collections import Counter

string = 'hello again, this string is to test the most frequent words'

def most_frequent_word_without_regex(input_string):
    # Split the string into words using whitespace as the delimiter
    words = [char for char in string]
    
    # Count the frequency of each word
    word_counts = Counter(words)
    
    # Find the word with the highest frequency
    most_common_word, highest_frequency = word_counts.most_common(1)[0]
    
    return most_common_word, highest_frequency

# Example usage
most_common_word, highest_frequency = most_frequent_word_without_regex(string)

print(f"The most frequent word is '{most_common_word}' with a frequency of {highest_frequency}.")

The most frequent word is ' ' with a frequency of 10.

45. Find all unique words in a string

In [125]:
text = 'hello this is the test for unique words.yes it is true that I am going to use same word yes same again and again'
text_list = text.split()
unique_words = set(text_list)
print('Unique words are', unique_words)
print('Acutal string length -',len(text_list))
print('unique string lenght -',len(unique_words))

Unique words are {'going', 'use', 'unique', 'and', 'this', 'words.yes', 'yes', 'the', 'it', 'is', 'true', 'hello', 'that', 'word', 'for', 'same', 'test', 'to', 'I', 'again', 'am'}
Acutal string length - 24
unique string lenght - 21

46. Count the number of syllables in a string

In [127]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 28.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk) (1.2.0)
Collecting regex>=2021.8.3
  Downloading regex-2023.8.8-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 771.9/771.9 kB 57.0 MB/s eta 0:00:00
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2023.8.8

In [129]:
import nltk
from nltk.corpus import cmudict

nltk.download("cmudict")

def count_syllables(word):
    d = cmudict.dict()
    if word.lower() in d:
        return [len(list(y for y in x if y[-1].isdigit())) for x in d[word.lower()]][0]
    else:
        return 0

def count_syllables_in_text(text):
    words = text.split()
    total_syllables = 0
    for word in words:
        total_syllables += count_syllables(word)
    return total_syllables


text = "Hello my name is styam sharma"
syllable_count = count_syllables_in_text(text)
print(f"Total syllables: {syllable_count}")

[nltk_data] Downloading package cmudict to /home/jovyan/nltk_data...
[nltk_data]   Package cmudict is already up-to-date!

Total syllables: 7

47. Check if a string contains any special characters.

In [133]:
def special_char(s):
    if s.isalnum():
        return 'No special characters'
    else:
        return 'Yes, contains special characters'

s = 'hello this string to test special characters#'
print(s)
special_char(s)

hello this string to test special characters#

'Yes, contains special characters'

48. Remove the nth word from a string.

In [137]:
## s is string
## n is the nth word
def remove_n_th_word(s,n):
    temp_list = s.split()
    temp_list.pop(n-1)
    return " ".join(temp_list)

In [138]:
print(s)

# remove third element from the string
remove_n_th_word(s,3)

hello this string to test special characters#

'hello this to test special characters#'

49. Insert a word at the nth position in a string

In [146]:
def insert_n_position(s,w,n):
    temp_list = s.split()
    temp_list.insert(n-1,w)
    return " ".join(temp_list)

In [147]:
print(s)
word  = 'solitude'
n = 5
insert_n_position(s,word,n)

hello this string to test special characters#

'hello this string to solitude test special characters#'

50. Convert a CSV string to a list of lists

In [154]:
s = "This,is,comma,sepearted,string"

final_list = [[word] for word in s.split(",")]
print(final_list)

[['This'], ['is'], ['comma'], ['sepearted'], ['string']]

## List Based Practice Problem.

1. Create a list with integers from 1 to 10

In [155]:
integers = [1,2,3,4,5,6,7,8,9,10]
print(type(integers))

<class 'list'>

2. Find the length of a list without using the len() function.

In [156]:
## logic get the index of the last integer in the list
print(integers)
last_integer = integers.index(integers[-1])
print('length of list' , last_integer + 1) ## because indexing starts with 0

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length of list 10

3. Append an element to the end of a list

In [157]:
temp = [1,2,4,42]
print(temp)
temp.append(-1)
print(temp)

[1, 2, 4, 42]
[1, 2, 4, 42, -1]

4. Insert an element at a specific index in a list

In [158]:
temp2 = [1,2,4,5,34]
temp2.insert(2,'satyam')
print(temp2)

[1, 2, 'satyam', 4, 5, 34]

5. Remove an element from a list by its value.

In [159]:
print(temp2)
temp2.remove(2)
## It removes the first occurence of the element in the list
print(temp2)

[1, 2, 'satyam', 4, 5, 34]
[1, 'satyam', 4, 5, 34]

6. Remove an element from a list by its index

In [160]:
print(temp2)
## remove element at index 3
temp2.pop(3)
print(temp2)

[1, 'satyam', 4, 5, 34]
[1, 'satyam', 4, 34]

7. Check if an element exists in a list

In [161]:
print(temp2)
name = 'satyam'
if name in temp2:
    print('yes, {} is present in list at index {}'.format(name, temp2.index(name)))

[1, 'satyam', 4, 34]
yes, satyam is present in list at index 1

8. Find the index of the first occurrence of an element in a list

In [162]:
temp3 = [1,34,435,5467,345,45,1]
## 1 is present at index 0 and at index -1
temp3.index(1)

0

9. Count the occurrences of an element in a list

In [163]:
## count function in list gives output the occurrence of the element in the list
print(temp3)
temp3.count(1)

[1, 34, 435, 5467, 345, 45, 1]

2

10. Reverse the order of elements in a list

In [164]:
## reverse function is used to reverse the list 
print(temp3)
temp3.reverse()
print(temp3.reverse())

[1, 34, 435, 5467, 345, 45, 1]
None

11. Sort a list in ascending order

In [165]:
print('Unsorted list',temp)
print('Sorted list')
sorted(temp)

Unsorted list [1, 2, 4, 42, -1]
Sorted list

[-1, 1, 2, 4, 42]

12. Sort a list in asceding order.

In [166]:
print(temp)
sorted(temp,reverse=True)

[1, 2, 4, 42, -1]

[42, 4, 2, 1, -1]

13. Create a list of even numbers from 1 to 20

In [167]:
even_number_list = [x for x in range(21) if x%2==0]
even_number_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20

In [168]:
odd_number_list = [y for y in range(21) if y%2 != 0]
odd_number_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list

In [169]:
print(odd_number_list)
print(sum(odd_number_list))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
100

16. Find the maximum value in a list

In [170]:
print(even_number_list)
print(max(even_number_list))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
20

17. Find the minimum value in a list

In [171]:
print(odd_number_list)
print(min(odd_number_list))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
1

18. Create a list of squares of numbers from 1 to 10

In [172]:
squares_1_10 = [sqr**2 for sqr in range(11) ]
squares_1_10

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers

In [173]:
## Whenever we hear about random go with numpy
import numpy as np

## random.randint(low , high, length)
random_numebers =list( np.random.randint(2, 100,10))

print(random_numebers)

[16, 22, 79, 41, 16, 77, 87, 6, 16, 46]

20. Remove duplicates from a list.

In [174]:
test_list = [24,234,23,234,23,42,23423,2]
list(set(test_list))

[2, 234, 42, 23, 24, 23423]

21. Find the common elements between two lists

In [175]:
l1 = list(x for x in range(10))
l2  =list(x for x in range(5,15))

## Approach 1st create set and then apply intersection operation
## and then convert back into list
list(set(l1).intersection(set(l2)))

[5, 6, 7, 8, 9]

22. Find the difference between two lists

In [176]:
## There is no such operation like difference
l1 = [1,4,34,56,67,34,543]
l2 = [53,345,546,2,756,23,2]
difference_l1_l2 = []
for x,y in zip(l1,l2):
    ## l2 - l1
    difference_l1_l2.append(y-x)
    
print(difference_l1_l2)

[52, 341, 512, -54, 689, -11, -541]

23. Merge two lists

In [177]:
l1 + l2

[1, 4, 34, 56, 67, 34, 543, 53, 345, 546, 2, 756, 23, 2]

24. Multiply all elements in a list by 2

In [178]:
print('Original list\n',l1)
result_list = [num * 2 for num in l1]
print('Resulted list\n',result_list)

Original list
 [1, 4, 34, 56, 67, 34, 543]
Resulted list
 [2, 8, 68, 112, 134, 68, 1086]

25. Filter out all even numbers from a list

In [179]:
print(l1)
even_filtered_list = [x for x in l1 if x%2!=0]
print(even_filtered_list)

[1, 4, 34, 56, 67, 34, 543]
[1, 67, 543]

26. Convert a list of strings to a list of integers

In [180]:
## list of strings
string_list = ['23','23','345','23','234']
print(string_list)
int_list  = [int(x) for x in string_list]
print(int_list)

['23', '23', '345', '23', '234']
[23, 23, 345, 23, 234]

27. Convert a list of integers to a list of strings

In [181]:
integer_list = [23,43,4,45,56,547,578234,214]
print(integer_list)
string_list = [str(x) for x in integer_list]
print(string_list)

[23, 43, 4, 45, 56, 547, 578234, 214]
['23', '43', '4', '45', '56', '547', '578234', '214']

28. Flatten a nested list

In [182]:
def flatten(multidimensional_list):
    new_flatten_list = []

    for item in multidimensional_list:
        # Check if the item is a list
        if isinstance(item, list):
            # Recursively flatten the sublist and extend the result
            new_flatten_list.extend(flatten(item))
        else:
            # If it's not a list, append it directly
            new_flatten_list.append(item)

    return new_flatten_list

nested_list = [2452,234234,[234,2344,234534,6,45,345,6,23,63,[5,2,234,634,34],23],98]
print('nested_list\n',nested_list)
flattened_list = flatten(nested_list)
print(flattened_list)

nested_list
 [2452, 234234, [234, 2344, 234534, 6, 45, 345, 6, 23, 63, [5, 2, 234, 634, 34], 23], 98]
[2452, 234234, 234, 2344, 234534, 6, 45, 345, 6, 23, 63, 5, 2, 234, 634, 34, 23, 98]

29. Create a list of first 10 Fibonacci numbers

In [183]:
## here n is number of Fibonacci series
## take 10 in this case
def fib(n):
    a, b = 0,1
    for i in range(n):
        a,b = b, a+b
        yield a

for series in fib(10):
    print(series,end=' ')

1 1 2 3 5 8 13 21 34 55

30. Check if a list is sorted

In [184]:
def test_for_sort(sort_test_list):
    for ele in sort_test_list:
        for next_ele in sort_test_list[sort_test_list.index(ele)+1:]:
            if sort_test_list[0] < sort_test_list[1]:## may be it is a ascending order sorted, not sure yet
                if ele > next_ele:
                    return False

            else: ## Now consider it as a descending order sorted list
                if ele < next_ele:
                    return False
    ## If all conditions were satisfied then return True
    return True

In [185]:
sort_test_list = [234,52,5,564,57,4,25,23]
test_for_sort(sort_test_list)

False

In [186]:
## checking with list 2
sort_test_list = [1,2,3,4,5,7,78,8345]
test_for_sort(sort_test_list)

True

31. Rotate a list to the left and right by 'n' positions

In [187]:
def left_rotation(l,n):
    return  l[n:] + l[:n]

## right rotation by 3
def right_rotation(l,n):
    return l[-n:] + l[:-n]

In [188]:
## calling functions

list_to_be_rotated = [4,2,5,5,35,4,5,65,7]
print('Original list')
print(list_to_be_rotated)


## rotation to the left by 2
print('Rotation to the left by 2')
print(left_rotation(list_to_be_rotated,2))

## rotation to the right by 2
print('Rotation to the right by 2')
print(right_rotation(list_to_be_rotated,2))

Original list
[4, 2, 5, 5, 35, 4, 5, 65, 7]
Rotation to the left by 2
[5, 5, 35, 4, 5, 65, 7, 4, 2]
Rotation to the right by 2
[65, 7, 4, 2, 5, 5, 35, 4, 5]

33. Create a list of prime numbers up to 50

In [189]:
##High time complexity program


## Prime numbers are those numbers which are divisible by only 1 and by itself

## Creating function which takes user input to create a list of prime numbers
def create_prime_numbers(total):
    not_prime_numbers = []
    numbers_to_check = list(range(2, total))
    for prime in range(2,total):
        ## apply condition of prime numbers
        for number in range(2, prime):
            if (prime%number ==0):
                not_prime_numbers.append(prime)
                break
    
    total_numbers = set(range(2, total))
    return  list(total_numbers.difference(set(not_prime_numbers)))

In [190]:
## calling function
print('Total prime numbers are')
print(create_prime_numbers(50))
print('There are {} prime numbers'.format(len(create_prime_numbers(50))))

Total prime numbers are
[2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31]
There are 15 prime numbers

Program written above having high complexities.
{*Not efficient *}

34. Split a list into chuncks of size 'n'

In [191]:
def split_list(l,n):
    for i in range(0,len(l),n):
        
        yield l[i:i+n]
    
l = [1,3,4,5,34,6,45,3,646,4]
a = split_list(l,3)
for i in a:
    print(i)

[1, 3, 4]
[5, 34, 6]
[45, 3, 646]
[4]

35. Find the second largest number in a list

In [192]:
## 
l = [1,3,4,254,35,4,6,6,45,654]
print(l)
##sort the list ,by default it is sorted in ascending order
l.sort()
print('Second largest number',l[-2])

[1, 3, 4, 254, 35, 4, 6, 6, 45, 654]
Second largest number 254

36. Replace every element in a list with its square.

In [193]:
import numpy as np
n = [1,2,3,4,5,6,7]
squares = lambda x : np.square(x)
list(map(squares,n))

[1, 4, 9, 16, 25, 36, 49]

37. Convert a list to a dictioinary where list elements keys and their indices become values

In [194]:
l = [1,4,42,5,436,54,56,7,567]
dic = {}
for element, index in zip(l,range(len(l))):
    dic[element] = index
    
dic

{1: 0, 4: 1, 42: 2, 5: 3, 436: 4, 54: 5, 56: 6, 7: 7, 567: 8}

38. Shuffle the elements of a list randomly.

In [195]:
import random

# Create a list of elements
my_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print(my_list)

[5, 3, 2, 1, 4]

39. Create a list of the first 10 factorial numbers

In [196]:
def factorial(n):
    if n == 1 : 
        return 1
    else:
        fact = n * factorial(n-1)
    return fact

In [197]:
factorial(10)

3628800

40. Check if two lists have at least one element in common

In [198]:
## Output in True or False

l1 = [42,43,5,346,546,54,747]
l2 = [34,534,6,545,4654,54,235]
def common(l1,l2):
    for i in l1:
        if i in l2:
            return True
common(l1,l2)

True

In [199]:
## output in yes or no

def common(l1,l2):
    c = 0
    for i in l1:
        if i in l2:
            c = c +1
            break
    if c >0:
        print('yes')
    else:
        print('no')

In [200]:
common(l1,l2)

yes

41. Remove all elements from a list

In [201]:
l1 = [532,54,65,7,23,5,46]
l1.clear()

In [202]:
print(l1)

[]

42. Replace negative numebers in a list with 0

In [203]:
def replace_neg_with_0(l1):
    for i in range(len(l1)):
        if l1[i] <0:
            l1[i] = 0
    return l1
replace_neg_with_0([23,423,545,-34,-786,-23])

[23, 423, 545, 0, 0, 0]

43. Convert a string into a list of words

In [204]:
s  = 'hello my name is satyam sharma'
list_of_words = s.split()
print(list_of_words)

['hello', 'my', 'name', 'is', 'satyam', 'sharma']

44. Convert a list of words into string

In [205]:
words_of_strnigs = " ".join(list_of_words)
print(words_of_strnigs)

hello my name is satyam sharma

45. Create a list of the first 'n' powers of 2

In [206]:
def squares(n):
    return [i**2 for i in range(1, n+1)]

In [207]:
squares(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

46. Find the longest string in a list of strings

In [208]:
## set initially first element as maximum  and compare with all remaining values in list
def maximum_length(string_list):
    max_length_string  = string_list[0]
    for i in string_list:
        if len(i) > len(max_length_string):
            max_length_string = i
            
    return max_length_string

maximum_length(list_of_words)

'satyam'

47. Find the shortest string in a list of strings

In [209]:
def minimum_length(string_list):
    min_length_string  = string_list[0]
    for i in string_list:
        if len(i) < len(min_length_string):
            min_length_string = i
            
    return min_length_string

minimum_length(list_of_words)

'my'

48. Create a list of the first 'n' triangular numbers

In [210]:
## what is triangular number?
## A figurative number that can be represented by equilateral triangle
## In such a way that subsequent row contains an element more than the previous one
## ex  1 3 6 10 
## pattern add 2 then add 3 then add 4......


## logic start with number 1 and keep adding a number(which is incremented by 1)
def triangular_numbers(n):
    count = 0
    start = 1
    increamenting_number = 2
    while count < n:
        yield start
        start = start + increamenting_number
        increamenting_number = increamenting_number + 1    
        
        count = count + 1
    return start

In [211]:
## what is triangular number?
## A figurative number that can be represented by equilateral triangle
## In such a way that subsequent row contains an element more than the previous one
## ex  1 3 6 10 
## pattern add 2 then add 3 then add 4......


## logic start with number 1 and keep adding a number(which is incremented by 1)
def triangular_numbers(n):
    count = 0
    start = 1
    increamenting_number = 2
    while count < n:
        yield start
        start = start + increamenting_number
        increamenting_number = increamenting_number + 1    
        
        count = count + 1
    return start

In [212]:
print('Triangular numbers are')
for i in triangular_numbers(10):
    print(i,end=' ')

Triangular numbers are
1 3 6 10 15 21 28 36 45 55

49. Check if a list contains another list as a subsequence

## logic search first element of sub in main
## if it found it then slice the main list from that element index to the last element
## again search for another elements
## if any element not found return False


def check_subsequence(sub, main):
    result = True
    while len(main) > 0:
        for i in sub:
            if i in main:
                main = main[main.index(i):]
            else:
                result = False
                break  # Exit the loop when a value is not found
    return result

main = [34, 23, 54, 23432, 6457, 56678]
sub = [54, 23432, 56678]
result = check_subsequence(sub, main)

if result:
    print("sub is a subsequence of main")
else:
    print("sub is not a subsequence of main")

50. Swap two elements in a list by their indices

In [1]:
l = [123,43,25,346,457,56,2,341]
print('Before Swapping', l)
## swap zeroth and first index values
l[0] , l[1]  = l[1], l[0]
print('After swapping',l)

Before Swapping [123, 43, 25, 346, 457, 56, 2, 341]
After swapping [43, 123, 25, 346, 457, 56, 2, 341]

## Tuple based practice Problem:

1. Create a tuple with integers from 1 to 5

In [2]:
t = tuple(range(1,6))
print(t)
type(t)

(1, 2, 3, 4, 5)

tuple

2. Access the third element of a tuple

In [3]:
t[2]

3

3. Find the length of a tuple without using the len() function

In [4]:
print(t)
print('Length of tuple t is ')
print(t.index(t[-1]) + 1)

## get the index of the last element and add 1

(1, 2, 3, 4, 5)
Length of tuple t is
5

4. Count the occurrences of an element in a tuple

In [5]:
print(t)
t.count(3)

(1, 2, 3, 4, 5)

1

5. Find the index of the first occurrence of an element in a tuple

In [6]:
new_t  = (1,2,3,4,5,2,45)
print(new_t)
print("Index of the first occurrence of '2'")
new_t.count(2)

## This count function gives first occurrence of the element

(1, 2, 3, 4, 5, 2, 45)
Index of the first occurrence of '2'

2

6. Check if an element exists in a tuple

In [7]:
print(new_t)
if 6 in new_t:
    print('Yes')
else:
    print('NO')

(1, 2, 3, 4, 5, 2, 45)
NO

7. Convert a tuple to a list

In [8]:
print(new_t)
print(list(new_t))

(1, 2, 3, 4, 5, 2, 45)
[1, 2, 3, 4, 5, 2, 45]

8. Convert a list into a tuple

In [9]:
print('List')
print(l)
print('Tuple')
print(tuple(l))

List
[43, 123, 25, 346, 457, 56, 2, 341]
Tuple
(43, 123, 25, 346, 457, 56, 2, 341)

9. Unpack the elements of a tuple into variables

In [10]:
## Assigning the elements of the tuple to variabels is called as tuple unpacking

print(new_t)

## store first three elements of the tuple into variabels
a,b,c = new_t[:3]
print(a,b,c,end  =" ")

(1, 2, 3, 4, 5, 2, 45)
1 2 3

10. Create a tuple of even numbers from 1 to 10

In [11]:
## even_tuple will be a generator 

even_tuple = [i for i in range(1, 11) if i % 2==0]
print(tuple(even_tuple))
print(type(tuple((even_tuple))))

(2, 4, 6, 8, 10)
<class 'tuple'>

In [12]:
## Another approach to access the elements of generator is iterattion

even_tuple = (i for i in range(1, 11) if i % 2==0)
for values in even_tuple:
    print(values, end = " ")

2 4 6 8 10

11. Create a tuple of odd numbers from 1 to 10

In [13]:
odd_tuple = (i for i in range(1, 11) if i % 2 !=0)
for values in odd_tuple:
    print(values, end = " ")

1 3 5 7 9

12. Concatenate two tuples

In [14]:
t1 = (23,34,2,534,5654)
t2 = (234,234,235,345,36)

## concatenation of tuples (same as list)
print(t1 + t2)

(23, 34, 2, 534, 5654, 234, 234, 235, 345, 36)

13. Repeat a tuple three times

In [15]:
print(t)
print(3 * t)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty

In [16]:
print(t)
if len(t) == 0 :
    print('An empty tuple')
else:
    print('Non empty tuple')

(1, 2, 3, 4, 5)
Non empty tuple

15. Create a nested tuple

In [17]:
nested_tuple = (1,42,34,(543,4,25))
print(nested_tuple)

(1, 42, 34, (543, 4, 25))

16. Access the first element of a nested tuple

In [18]:
print('FIRST ELEMENT OF NESTED TUPLE is ',nested_tuple[0])

FIRST ELEMENT OF NESTED TUPLE is  1

17. Create a tuple with a single element

In [19]:
single_element_tuple = (1,)
print(single_element_tuple)
print(type(single_element_tuple))

(1,)
<class 'tuple'>

18. Compare two tuples

In [20]:
print(t1)
print(t2)

print(t1 == t2)
print(t1  < t2)
print(t1 > t2)
print(t1 >= t2)
print(t1 <= t2)

(23, 34, 2, 534, 5654)
(234, 234, 235, 345, 36)
False
True
False
False
True

19. Delete a tuple

In [21]:
try:
    t = (1, 2, 3)
    print(t)
    
    del t
    
    # Attempt to print t after deleting it
    print(t)
except NameError as e:
    print(f"Error: {e}")

(1, 2, 3)
Error: name 't' is not defined

20. Slice a tuple

In [22]:
t = (1,3,5,7,9,23,45)

## between 2 to 4th element of tuple
print(t[1:5])

(3, 5, 7, 9)

21. Find the maximum value in a tuple

In [23]:
print(t)
print(max(t))

(1, 3, 5, 7, 9, 23, 45)
45

22. Find the minimum value in a tuple

In [24]:
print(t)
print(min(t))

(1, 3, 5, 7, 9, 23, 45)
1

23. Convert a string to a tuple of characters

In [25]:
s = 'hello there i am eager to become a data scientist'
tuple_char = tuple(char for char in s)
print(tuple_char,end= " ")

('h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'i', ' ', 'a', 'm', ' ', 'e', 'a', 'g', 'e', 'r', ' ', 't', 'o', ' ', 'b', 'e', 'c', 'o', 'm', 'e', ' ', 'a', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 't', 'i', 's', 't')

24. Convert a tuple of characters to a string

In [26]:
"".join(tuple_char)

'hello there i am eager to become a data scientist'

25. Create a tuple from multiple data types

In [27]:
t = ('string',23,True,2345.0)
for ele in t:
    print(ele, type(ele),end = "\t" )

string <class 'str'>	23 <class 'int'>	True <class 'bool'>	2345.0 <class 'float'>

26. Check if two tuples are identical

In [28]:
t1 = (1,2,3,4,5)
t2 = (1,2,3,4,5)
print(t1 == t2)

True

27. Sort the elements of a tuple

In [29]:
t1 = (4,2,34,34,5,546)
print(t1)
print(sorted(t1))

(4, 2, 34, 34, 5, 546)
[2, 4, 5, 34, 34, 546]

28. Convert a tuple of integers to a tuple of strings

In [30]:
t

('string', 23, True, 2345.0)

In [31]:
# Original tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Using lambda function to convert to a tuple of strings
str_tuple = tuple(map(lambda x: str(x), int_tuple))

# Print the result
print(str_tuple)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers

In [32]:
print(str_tuple)

tuple(map(lambda x : int(x) , str_tuple))

('1', '2', '3', '4', '5')

(1, 2, 3, 4, 5)

30. Merge two tuples

In [33]:
t1 = (1,4,54,43,534)
t2 = (52,56,547,4,2)

## merge t1 and t2
print(t1 + t2)

(1, 4, 54, 43, 534, 52, 56, 547, 4, 2)

32. Create a tuple of the first 5 prime numbers

In [34]:
num = 5
full_numbers = list(range(2,6))
not_prime_numbers = []
for i in range(2, num + 1):
    for j in range(2,i):
        if i%j == 0:
            not_prime_numbers.append(i)
            break
            
print('Prime numbers till 5 are')
set(full_numbers).difference(set(not_prime_numbers))

Prime numbers till 5 are

{2, 3, 5}

*Logic*<br>
* For checking if number is prime or not , check if it is divisible by any number beween (1 to itsef) {keep both exclusive}
* If it is divisible then put it in the non prime category
* create full numbers from 2 to till the number of prime number we want
* finally, take difference of them
* fortunately set provides the difference function use it to get the other numbers(which are our prime numbers)

31. Flatten a nested tuple

In [35]:
## take a help of recursive function as we did in list
def flatten_a_tuple(t):
    flatten_list  = []
    for item in t:
        if isinstance(item, tuple):
            flatten_list.extend(flatten_a_tuple(item))
        else:
            flatten_list.append(item)
            
    return tuple(flatten_list)

In [36]:
## function calling
flatten_a_tuple((2,6,3,3,6,56,(52,5,63,(234,4),23),32))

(2, 6, 3, 3, 6, 56, 52, 5, 63, 234, 4, 23, 32)

33. Check if a tuple is a palindrome

In [37]:
## tuples are palindrome when ex- (1,2,3,2,1)
## reversing the tuple should be same with the normal tuple
palindrome_tuple = (1,3,4,5,6,5,4,3,1)
print(palindrome_tuple)
print(palindrome_tuple[::-1])

(1, 3, 4, 5, 6, 5, 4, 3, 1)
(1, 3, 4, 5, 6, 5, 4, 3, 1)

34. Create a tuple of squares of numbers from 1 to 5

In [38]:
squares = lambda x : x**2
tuple(map(squares, (1,2,3,4,5,6)))

(1, 4, 9, 16, 25, 36)

35. Filter out all even numbers from a tuple

In [39]:
tup = (1,2,3,4,5,6,6,756,75,6,3)
extracted_even_numbers = tuple([x for x in tup if x % 2==0])
print(extracted_even_numbers)

(2, 4, 6, 6, 756, 6)

36. Multiply all elemetns in a tuple by 2

In [40]:
## lets do this in one line wiht map function
tuple(map(lambda x : x*2 , (1,2,3,4,5,346)))

(2, 4, 6, 8, 10, 692)

37. Create a tuple of random numbers

In [41]:
import random
num = 5
random_tuple = tuple(random.randint(1,100) for i in range(num))
print(random_tuple)

(16, 18, 59, 100, 2)

38. Check if a tuple is sorted

In [42]:
## sorting can be ascending as well as descending
## we wil have check for both the cases
def check_sorted(t):
    # check if the tuple is sorted in ascending order
    if all(t[i] <= t[i+1] for i in range(len(t) - 1)):
        return 'Ascending'
    
    ## Check if the tuple is sorted in descending order
    if all(t[i] >= t[i+1] for i in range(len(t) -1)):
        return 'Descending'
    
    return 'Not Sorted'

In [43]:
## calling function
print(check_sorted((1,2,3,4,5,6)))
print(check_sorted((6,5,4,3,2,1)))
print(check_sorted((1,4,24,23,543,5)))

Ascending
Descending
Not Sorted

39 40. Rotate a tuple to the left by 'n' position

In [44]:
def rotate_tuple(t,n,rotate_left = False, rotate_right= False):
    if rotate_left == True:
        return t[n:] + t[:n]
    
    if rotate_right == True:
        return t[-n:] + t[:-n]

In [45]:
rotate_tuple((1,2,3,5,35,2,35),3,rotate_left=True)

(5, 35, 2, 35, 1, 2, 3)

In [46]:
rotate_tuple((1,2,3,4,35,2,35),3,rotate_right=True)

(35, 2, 35, 1, 2, 3, 4)

41. Create a tuple of the first 5 fibonacci numbers

In [47]:
## Fibonacci series starting with 1
n = 5
def fibonacci(n):
    a , b = 0,1
    for i in range(n):        
        a , b = b , a+b
        yield a

In [48]:
for i in fibonacci(5):
    print(i,end= ' ')

1 1 2 3 5

42. Create a tuple from user input

In [1]:
#### total_length = input('Enter the length of tuple')
elements = []
while True: 
    x = input('Enter the elements')
    if x == 'done':
        break
    elements.append(x)
    
print(tuple(elements))

Enter the elements 2
Enter the elements 4
Enter the elements 5
Enter the elements done

('2', '4', '5')

43. Swap two elements in a tuple

In [2]:
## make sure that tuple immutable
## so first convert it into a list and then do swapping

tup = (1,4,5,35,4,5)
print(tup)
tup = list(tup)

## swapping first with last
tup[0],tup[-1] = tup[-1], tup[0]
print('After swapping first and last element')
##converting back
tup = tuple(tup)
print(tup)

(1, 4, 5, 35, 4, 5)
After swapping first and last element
(5, 4, 5, 35, 4, 1)

44. Reverse the elements of a tuple

In [3]:
print(tup)
print(tup[::-1])

(5, 4, 5, 35, 4, 1)
(1, 4, 35, 5, 4, 5)

45. Create a tuple of the first 'n' powers of 2

In [4]:
print(tup)
tuple(map(lambda x : x**2 , tup))

(5, 4, 5, 35, 4, 1)

(25, 16, 25, 1225, 16, 1)

46. Find the longest string in a tuple of strings

In [5]:
tup_string = ('hELLO','brother','reality','obnoxious','punctuality')
print(tup_string)
## converting string into 
base = tup_string[0]
for item in tup_string:
    if len(item)> len(base):
        base = item
print(base)
print(len(base))

('hELLO', 'brother', 'reality', 'obnoxious', 'punctuality')
punctuality
11

47. Find the shortest string in a tuple of strings

In [6]:
tup_string = ('hELLO','brother','reality','obnoxious','punctuality')
print(tup_string)
## converting string into 
base = tup_string[0]
for item in tup_string:
    if len(item)< len(base):
        base = item
print(base)
print(len(base))

('hELLO', 'brother', 'reality', 'obnoxious', 'punctuality')
hELLO
5

48. Create a tuple of the first  'n' triangular numbers

In [7]:
## basic concept is same as we did in list
## 1 3 6 10 so on...
## numbers are increamented by 2 , 3, 4,so on....

def triangular_numbers(n):
    increamented_number = 2
    number = 1
    while n > 0 : 
        yield number
        number = number + increamented_number
        increamented_number = increamented_number + 1       
        n = n-1
        
    return number

In [8]:
tuple(triangular_numbers(10))

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence

In [9]:


## to check whether a tuple contains anothe tuple as a subsequence
## check if all the elements of sub matches in main

def check_subsequence(sub, main):
    count = 0
    for ele in sub:
        if ele in main :
            index_at_ele_found = main.index(ele)
            main = main[index_at_ele_found:]
            count = count + 1
    if count == len(sub):
        return 'Yes'
    else:
        return 'No'

In [10]:
## Test 1
sub = (1,3,4)
main = (2,7,768,5,1,5,2,3,4)
check_subsequence(sub, main)

'Yes'

In [11]:
## Test 2
sub = (1,3,4,5)
main = (2,7,768,5,1,5,2,3,4)
check_subsequence(sub, main)

'No'

50. Create a tuple of alternating 1s and 0s of length 'n'

In [15]:
n = 10
alternating_tuple = tuple([1 if i % 2==0 else 0 for i in range(n)])
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

## Set Based Practice Problem

1. Create a set with integers from 1 to 5

In [16]:
s = {1,2,3,4,5}
print(type(s))

<class 'set'>

2. Add an element to a set

In [17]:
print(s)
s.add('new_element')
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'new_element'}

3. Remove an element from a set

In [18]:
print(s)
s.discard(1)
print(s)

{1, 2, 3, 4, 5, 'new_element'}
{2, 3, 4, 5, 'new_element'}

4. Check if an element exists in a set

In [19]:
print(s)
if 'new_element' in s:
    print('Yes')

{2, 3, 4, 5, 'new_element'}
Yes

5. Find the length of a set without using the len() function

In [20]:
print(s)

## convert into list to apply .index function
s = list(s)

print(s.index(s[-1]) + 1)

## convert back into set
s = set(s)

{2, 3, 4, 5, 'new_element'}
5

6. Clear all elements from a set

In [21]:
empty_s = s.copy()
print(empty_s)
empty_s.clear()
print(empty_s)

{2, 3, 4, 5, 'new_element'}
set()

7. Create a set of even numbers from 1 to 10

In [22]:
set_even = (x for x in range(1,11) if x % 2 == 0)
print(set(set_even))

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [23]:
set_odd = (x for x in range(1,11) if x % 2 != 0)
print(set(set_odd))

{1, 3, 5, 7, 9}

9. Find the union of two sets

In [24]:
s1 = set((1,2,3,4,5,6))
s2 = set((4,5,6,7,8,7))

## union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets

In [25]:
print(s1)
print(s2)

## intersection of two sets
s1.intersection(s2)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8}

{4, 5, 6}

11. Find the difference of two sets

In [26]:
print(s1)
print(s2)

## difference in sets
s1.difference(s2)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8}

{1, 2, 3}

12. Check if a set is a subset of another set

In [27]:
print(s1)
print(s2)

## subset 
print('Check if s2 is the subset of s1')
s2.issubset(s1)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8}
Check if s2 is the subset of s1

False

13. Check if a set is a superset of another set

In [28]:
print(s1)
print(s2)

## superset
s1.issuperset(s2)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8}

False

In [29]:
## checking with another example
{1,2,3,4,5}.issuperset({2,3})

True

14. Create a set from a list

In [30]:
l = ['hy', 23,'True',False,'not_al_all']
list_to_set = set(l)
## convert list into set
print(list_to_set)
print(type(list_to_set))

{False, 'True', 'not_al_all', 23, 'hy'}
<class 'set'>

15. Convert a set to a list

In [31]:
set_to_list = list(list_to_set)
print(set_to_list)
print(type(set_to_list))

[False, 'True', 'not_al_all', 23, 'hy']
<class 'list'>

16. Remove a random element from a set

In [32]:
import random
print(s)

set_elements = list(s)

## generating random indeces for accessing elements from set_elements
random_indeces = random.randrange(0,len(set_elements),1)


## removing random elements from set
s.remove(set_elements[random_indeces])

##set after element has been poped out
print(s)

{2, 3, 4, 5, 'new_element'}
{3, 4, 5, 'new_element'}

17. Pop an element from a set

In [33]:
print(s)

## popping out element from the set
s.pop()
print(s)

{3, 4, 5, 'new_element'}
{4, 5, 'new_element'}

18. Check if two sets have no elements in common

In [34]:
s1 = {1,4,5,35,3}
s2 = {4,53,23,35}

if s1.intersection(s2):
    print('yes have some common elements')

yes have some common elements

19. Find the symmetric difference between two sets

In [35]:
## Symmetic difference between two sets A and set B includes all elements of A and B without the common elements

print(s1)
print(s2)

## symmetic difference
s1.symmetric_difference(s2)

{1, 3, 4, 5, 35}
{35, 4, 53, 23}

{1, 3, 5, 23, 53}

20. Update a set with elements from another set

In [36]:
print(s1)
print(s2)

## update s1 with s2
s1.update(s2)
print('After updation')
print(s1)

{1, 3, 4, 5, 35}
{35, 4, 53, 23}
After updation
{1, 3, 4, 5, 35, 53, 23}

21. Create a set of the first 5 prime numbers

In [37]:
def create_prime_numbers(total):
    not_prime_numbers = []
    numbers_to_check = list(range(2, total))
    for prime in range(2,total):
        ## apply condition of prime numbers
        for number in range(2, prime):
            if (prime%number ==0):
                not_prime_numbers.append(prime)
                break
    
    total_numbers = set(range(2, total))
    return  total_numbers.difference(set(not_prime_numbers))

In [38]:
create_prime_numbers(5)

{2, 3}

22. Check if two sets are identical

In [39]:
print(s1)
print(s2)

## check if they are identical or not
s1 == s2

{1, 3, 4, 5, 35, 53, 23}
{35, 4, 53, 23}

False

23. Craete a frozen set

In [40]:
## Frozenset are immutable in nature

fruits = frozenset(['Apple','Banana','Orange'])
print(fruits)

frozenset({'Apple', 'Orange', 'Banana'})

24. Check if a set is disjoint with another set

In [41]:
print(s1)
print(s2)

## Checking for disjoint
s1.isdisjoint(s2)

{1, 3, 4, 5, 35, 53, 23}
{35, 4, 53, 23}

False

*As we can se that 4 is common is both the elements*

25. Create  a set of squares of numbers from 1 to 5

In [42]:
squares = (x**2 for x in range(1,6))
print(set(squares))

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set

In [43]:
print(s1)

## filtering out even numbers in set s1
set(x for x in s1 if x % 2 == 0)

{1, 3, 4, 5, 35, 53, 23}

{4}

27. Multiply all elements in a set by 2

In [44]:
print(s1)

## multiply by 2 in set s1

## can not directly multiply by 2 in set (this option only available in list or say tuple)

## create lambda function to do this job
## and then map it using map function

multiplied_2 = lambda x : 2*x
set(map(multiplied_2, s1))

{1, 3, 4, 5, 35, 53, 23}

{2, 6, 8, 10, 46, 70, 106}

28. Create a set of random numbers

In [45]:
## whenever you heard about random just import random or numpy.random
import random

## creata a 5 random number set b/w 1 to 100
random_set = set(random.randint(1, 100) for _ in range(5))
print(random_set)

{78, 47, 18, 58, 92}

29. Check if a set is empty

In [46]:
print(s1)
if s1:
    print('Not an empty set')
else:
    print('Yes, It is an empty set')

{1, 3, 4, 5, 35, 53, 23}
Not an empty set

30. Create a nested set

In [47]:
fruits = frozenset({'apple','banana','grapes',frozenset({'cashew','almonds','raisins'}),'pineapple'})
print(fruits)

frozenset({'banana', 'pineapple', 'apple', frozenset({'almonds', 'cashew', 'raisins'}), 'grapes'})

31. Remove an element from a set using the discard method

In [48]:
print(s1)
s1.discard(3)
print(s1)

{1, 3, 4, 5, 35, 53, 23}
{1, 4, 5, 35, 53, 23}

32. Compare two sets

In [49]:
print(s1)
print(s2)

## check if s1 and s2 are equal(not in lenght )
## all elements should be same
print(s1 == s2)

## check if s1 is superset of s2
print(s1 > s2)
## check if s2 is superset of s1
print(s1 < s2)

{1, 4, 5, 35, 53, 23}
{35, 4, 53, 23}
False
True
False

33. Create a set from a string

In [50]:
st = 'Hello my name is SATYAM SHARMA'
st_set = set(st.split())
print(st_set)

{'SHARMA', 'SATYAM', 'my', 'Hello', 'name', 'is'}

34. Convert a set of strings to a set of integers

In [51]:
int_set  = {'1','5','3','87','23'}
string_set = set(map( lambda x : int(x) , int_set))
print(string_set)

{1, 3, 5, 87, 23}

35. Convert a set of integers to a set of strings

In [52]:
int_set = set(map( lambda x : str(x) , string_set))
print(int_set)

{'1', '3', '5', '87', '23'}

36. Create a set from a tuple

In [53]:
t = (542,5423,5,346,54,6754,7,54)
print(set(t))

{6754, 5, 7, 5423, 54, 346, 542}

37. Convert a set to a tuple

In [54]:
s = {'hello','yours',34,33,23}
print(tuple(s))

(33, 'yours', 34, 23, 'hello')

38. Find the maximum value in a set

In [55]:
## Incorrect method
s = {1,4,2,534,6,546,546,7,562,34,2}
print(s)

## maximum value in set
max(s)

{1, 2, 34, 546, 4, 6, 7, 562, 534}

562

note - Above used max() function is not built for sets,
It is only built for list or tuples

In [56]:
##  Correct approach
print(s)

max(list(s))

{1, 2, 34, 546, 4, 6, 7, 562, 534}

562

39. Find the minimum value in a set

In [57]:
print(s)
print('Minimum element in the set -')
min(list(s))

{1, 2, 34, 546, 4, 6, 7, 562, 534}
Minimum element in the set -

1

40. Create a set from user input

In [58]:
my_set = set()
while True:
    user_input = input("Eeer elements for set (or enter 'done' to finish")
    if user_input.lower() == 'done':
        break 
    my_set.add(user_input)
print('The set you created' , my_set)

Eeer elements for set (or enter 'done' to finish 1
Eeer elements for set (or enter 'done' to finish 3
Eeer elements for set (or enter 'done' to finish done

The set you created {'1', '3'}

41. Check if the intersection of two sets is empty

In [59]:
s1 = {1,4,34,345,5,6}
s2 = {2,7,8,9,10}
(s1.intersection(s2))

set()

42. Create a set of the first 5 Fibonacci numbers

In [60]:
def fibonacci(n):
    a, b = 0, 1
    fibonacci_set = set()
    while len(fibonacci_set) < n:
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

first_5_fibonacci = fibonacci(5)
print(first_5_fibonacci)

{0, 1, 2, 3, 5}

*note-*<br>
* It is impossible to create a set of fibonacci seires.
* Reason is that fibonacci series contains two '1' .
* And set does not contains duplicate numbers
* So resulted seires would be {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets

In [61]:
l = [34,23,5434,5,36,5467,54,634,54,35,346,54,654]
print(l)
print('Total length with duplicates-', len(l))
print('Total length withou duplicates-',len(set(l)))

[34, 23, 5434, 5, 36, 5467, 54, 634, 54, 35, 346, 54, 654]
Total length with duplicates- 13
Total length withou duplicates- 11

44. Check if two sets have the same elements, regardless of their count

In [62]:
s1 = {1,1,4,5,3,65,678,8,34,4,3,5}
s2 = {1,4,5,4,65,678,8,34,3}

s1 == s2

True

45. Create a set of the first 'n' powers of 2

In [63]:
def set_squares(n):
    return set((x**2 for x in range(n)))
               
## calling function
set_squares(5)

{0, 1, 4, 9, 16}

46. Find the common elements between a set and list

In [64]:
c_s = {1,4,6,8,10,16}
c_l = [1,4,8,10,15,16]
common = []
for i in c_s:
    if i in c_l:
        common.append(i)
        
print(common)

[16, 1, 4, 8, 10]

47. Create a set of the first 'n' triangular numbers

In [65]:
def triangular_numbers(n):
    count = 0
    start = 1
    increamenting_number = 2
    while count < n:
        yield start
        start = start + increamenting_number
        increamenting_number = increamenting_number + 1    
        
        count = count + 1
    return start

set(triangular_numbers(10))

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

48. Check if a set contains another set as a subset

In [66]:
def subset_check(sub , main):
    if sub.issubset(main):
        return True
    return False

subset_check({1,2,3,4}, {1,2,4,5,3,7})

True

49. Create a set of alternating 1s and 0s of length 'n'.

In [67]:
def alternating_ones_and_zeros(n):
    alternating_set = set()
    for i in range(n):
        alternating_set.add(i % 2)
    return alternating_set

n = 10 
alternating_set = alternating_ones_and_zeros(n)
print(alternating_set)

{0, 1}

50. Merge multiple sets into one.

In [68]:
s1 = {1,3,5,4,6,54,74,6}
s2 = {6,54,74,7,3,2,34}
s3 = {532,5,346,54,54,24,23,534,65}
s1.union(s2,s3)

{1, 2, 3, 4, 5, 6, 7, 23, 24, 34, 54, 65, 74, 346, 532, 534}

**Declaration-**<br>
* Allmost all the questions are finished by myself.
* It really gave me confidence that I needed
* Please keep giving us  such amount of questions also from differnt topic as well
* Also, I opened your solutions provided by you only when I did not get what exactly question want me to build logic
* And some questions may be written differently mainly because of two reasons, Either I did not get the question or I did not how to build the logic for them

**Thank you**