# For loop

## Basic level

1. Write a python program to print the numbers from 1 to 10 using a for loop

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a for loop

In [2]:
def sum_elements_in_list(l):
    add = 0
    for i in l:
        add = add + i
    print(add)
l = [234,2,543,6,547,457,4,34,52]
sum_elements_in_list(l)

1879

3. Write a program to print the characters of a string in reverse order using a for loop

In [3]:
s = 'hello my name is satyam'
for i in range(len(s)-1,0,-1):
    print(s[i],end = "")

maytas si eman ym olle

4. Develop a program that finds the factorial of a given number using a for loop

In [4]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result = result * i
        
    return result

In [5]:
factorial(10)

3628800

5. Create a program to print the multiplication table of a given number using a for loop

In [6]:
def table(n):
    for i in range(1,11):        
        print('{} X {} = {}'.format(n,i,n*i))
table(42)

42 X 1 = 42
42 X 2 = 84
42 X 3 = 126
42 X 4 = 168
42 X 5 = 210
42 X 6 = 252
42 X 7 = 294
42 X 8 = 336
42 X 9 = 378
42 X 10 = 420

6. Write a program that counts the number of even and odd numbers in a list using a for loop

In [7]:
l = [23,423,1,235,3456,3,235,34,22,4,6,54,7]
even = 0
odd = 0
for i in l:
    if i % 2 == 0 :
        even = even + 1
    else:
        odd = odd + 1
print(even)
print(odd)

6
7

7. Develop a program that prints the squares of numbers from 1 to 5 using a for loop

In [8]:
[x**2 for x in range(1,6)]

[1, 4, 9, 16, 25]

8. Create a program to find the length of a string without using the len() function

In [9]:
print(s)
print('len',s.rfind(s[-1])+1)

hello my name is satyam
len 23

9. Write a program that calculates the average of a list of numbers using a for loop

In [10]:
l = [234124,23,54,346,2,35,34,6]
length = len(l)
add = 0
for i in l:
    add = add + i
    
print("Average is {}".format(add/length))

Average is 29328.0

10. Develop a program that prints the first 'n' Fibonacci numbers using a 'for' loop

In [11]:
def fibonacci_with_loop(n):
    a , b  = 0 , 1
    for i in range(n):
        yield a
        a , b = b , a + b
        
    return a

In [12]:
list(fibonacci_with_loop(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Intermediate level:

11. Write a program to check if a given list contains any duplicates using a for loop

In [13]:
l = [1,2,2,42,5,4,62,3,34,34]
def duplicate_checker(l):
    for i in range(len(l)):
        for j in range(i,len(l)):
            if i == j:
                return 'Yes, contains duplicates'
    return 'No duplicates'

In [14]:
duplicate_checker(l)

'Yes, contains duplicates'

12. Create a program that prints the prime numbers in a given range using  a for loop

In [15]:
## print prime numbers till 100
n = 100
def prime(n):
    not_prime  = set()
    for prime in range(2,n+1):
        for check in range(2,prime):
            if prime%check == 0 :
                not_prime.add(prime)
                
    all_numbers = set(range(2,n+1))
    return list(all_numbers.difference(not_prime))

In [16]:
print('All prime numbers less than 100')
prime(100)

All prime numbers less than 100

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

13. Develop a program that counts the number of vowels in a string using a for loop

In [17]:
st = 'hello, My name is satyam sharma'
vowels  = ['a','e','i','o','u']
count = 0
for i in st:
    if i in vowels:
        count = count + 1
        
print(count)

9

14. Write a program to find  the maximum element in a 2D list using a nested for loop

In [18]:
l = [34,2354,2345,[234,5,23,45,246,[2345,23,867],234],92]
## convert list into 1 d
def flatten_list(l):
    flat_list = []
    for i in l:
        if isinstance(i,list):
            flat_list.extend(flatten_list(i))
        else:
            flat_list.append(i)
    return flat_list

print(max(flatten_list(l)))

2354

15. Create a program that removes all occurrences of a specific element from a list using for loop

In [19]:
l = [23, 5423, 5234, 6, 23, 53, 6, 23, 2, 2, 2, 346547, 54, 568, 7, 2]
l = [x for x in l if x != 2]
print(l)

[23, 5423, 5234, 6, 23, 53, 6, 23, 346547, 54, 568, 7]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested for loop

In [20]:
# Define the range of numbers for the multiplication table
start = 1
end = 5

# Iterate through the range of numbers
for i in range(start, end + 1):
    # Print the header for the current number
    print(f"Multiplication table for {i}:")

    # Nested loop to calculate and print the multiplication table
    for j in range(1, 11):  # You can change the range to adjust the table size
        product = i * j
        print(f"{i} x {j} = {product}")

    # Add a blank line between tables for different numbers
    print()

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

17. Write a program that converts a list of Fahrenheit tempertatures to Celsius using a for loop

In [21]:
fahrenheit = [100,1345,6,54,324,5,346,34,234,25]
celsius = []
for i in fahrenheit:
    celsius.append(round((i-32)*5/9,2))
    
celsius

[37.78, 729.44, -14.44, 12.22, 162.22, -15.0, 174.44, 1.11, 112.22, -3.89]

18. Create a program to print the common elements from two lists usnig a 'for' loop

In [22]:
l1 = [24,35,3,46,345,235,34,634]
l2 = [24, 35,34,46,234,5,235]
common_elements = []
for i in l1:
    if i in l2:
        common_elements.append(i)

print(common_elements)

[24, 35, 46, 235, 34]

19. Develop a program that prints the pattern of right-angled triangles using a for. use '*' to draw a pattern

In [23]:
def right_angled_triangle(n):
    count = 1
    while count-1 < n:
        print(count * '*')        
        count = count + 1
right_angled_triangle(10)

*
**
***
****
*****
******
*******
********
*********
**********

20. Write a program to find the greatest common divisor (GCD) of two numbers using a for loop

In [24]:
def find_gcd(num1, num2):
    while num2:
        num1, num2 = num2, num1 % num2
    return num1

# Input two numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Calculate and print the GCD
gcd = find_gcd(num1, num2)
print("GCD:", gcd)

Enter the first number:  34
Enter the second number:  8

GCD: 2

## Advanced level

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension

In [57]:
def digit_sum(numbers):
    sum_of_digits = []
    for num in numbers:
        sum_of_digits.append(sum([int(i) for i in str(num)]))
    sum_of_digits
numbers = [24,35,23,523,5,2346,34,34,23,52,345,34523423423,64]

In [58]:
digit_sum(numbers)

22. Write a program to find the prime factors of a given number usng a for loop

In [59]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def prime_factors(n):
    temp_list = []
    i = 2
    while n !=1:
        if (is_prime(i)) and (n % i == 0):
            temp_list.append(i)
            n = n // i
            i = 2
        else:
            i = i + 1
  
    return temp_list

# Test the prime_factors function
n = 112
print(prime_factors(n))  # Output: [2, 2, 3, 5]

[2, 2, 2, 2, 7]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension

In [60]:
l = [42,3,5,53,46,46, 3,2,5]
new_list = []
new_unique_list = [new_list.append(i) for i in l if i not in new_list]

In [61]:
print(new_list)

[42, 3, 5, 53, 46, 2]

24. Create a program that generates a list of all palindrome numbers up to a specified limit using a list comprehension

In [62]:
def generate_palindromes(n):
    palindromes=[x for x in range(n) if str(x) == str(x)[::-1]]
    return palindromes

In [63]:
generate_palindromes(100)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension

In [64]:
def flatten_list(nested_list):
    final = [item for lst in nested_list for item in (flatten_list(lst) if isinstance(lst, list) else [lst])]
    return final

nested_list = [4, 4, 5, 23, 542, 356, 346, 34, [23423, 235, 23, [2, 34, 25, 23, 542, [2532, 3], 234], 234], 64567]
flattened = flatten_list(nested_list)
print(flattened)

[4, 4, 5, 23, 542, 356, 346, 34, 23423, 235, 23, 2, 34, 25, 23, 542, 2532, 3, 234, 234, 64567]

26. Develop a program that computes the sum of even and odd numbers in a list seperately using list comprehension.

In [65]:
l = [324, 21, 4, 214, 3, 25, 12, 3, 1, 325, 235, 2456]
even_l = [i for i in l if i % 2 == 0]
odd_l = [i for i in l if i % 2 != 0]

print("Even numbers:", even_l)
print("Odd numbers:", odd_l)

Even numbers: [324, 4, 214, 12, 2456]
Odd numbers: [21, 3, 25, 3, 1, 325, 235]

27. Create a program that generates a list of squares of odd numbers between l and 10 using list comprehension

In [66]:
[x**2 for x in range(1,11) if x %2 == 0 ]

[4, 16, 36, 64, 100]

28. Write a program that combines two lists into a dictionary using list comprehension

In [67]:
l1 = [32,34,235,23,4,1,42]
l2 = [6,6,7,3,2,3,42,42,902]
## combine two list one is a key and other one is a value
dic = {key : value for key, value in zip(l1,l2)}
print(dic)

{32: 6, 34: 6, 235: 7, 23: 3, 4: 2, 1: 3, 42: 42}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension

In [68]:
st = 'saytam sharma'
vowels = ['a','e','i','o','u']
[x for x in st if x in vowels]

['a', 'a', 'a', 'a']

30. Create a program that removes all non-numeric characters from a list of strnigs using list comprehension

In [69]:
l = ['hello23','definite23','satyam23','234','yes234']
["".join(filter(str.isalpha, ele)) for ele in l]

['hello', 'definite', 'satyam', '', 'yes']

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algo and list comprehension

In [70]:
n = 15

# Create a list of numbers from 2 to n
numbers = list(range(2, n + 1))

# Use list comprehension to filter prime numbers
prime_numbers = [num for num in numbers if all(num % div != 0 for div in range(2, int(num**0.5) + 1))]

print(prime_numbers)

[2, 3, 5, 7, 11, 13]

32. Crate a program that generates a list of all Pythagorean triples up to a specified limit using list comprehension

In [71]:
def pythagorean_triplets(smallest_triplet):
    if smallest_triplet % 2 == 0:
        middle, largest = int(((smallest_triplet // 2) ** 2) - 1), int(((smallest_triplet / 2) ** 2) + 1)
    elif smallest_triplet % 2 != 0:
        middle, largest = int(smallest_triplet ** 2 / 2), int((smallest_triplet ** 2 / 2) + 1)
    
    return [smallest_triplet, middle, largest] if ((smallest_triplet ** 2 + middle ** 2 == largest ** 2) or (smallest_triplet ** 2 + largest ** 2 == middle ** 2)) and (smallest_triplet + middle > largest) else "There is no triplet of this number"

In [72]:
# test case1
triplet = pythagorean_triplets(2)
print(triplet)

There is no triplet of this number

In [73]:
# test case2
triplet = pythagorean_triplets(9)
print(triplet)

[9, 40, 41]

33. Develop a program that generates a list of all possible combinations of two list using list comprehension

In [74]:
def all_combinations(l1, l2):
    combinations = [(x, y) for x in l1 for y in l2]

    return (combinations)

In [75]:
all_combinations([3,2,4],['x','y','a'])

[(3, 'x'),
 (3, 'y'),
 (3, 'a'),
 (2, 'x'),
 (2, 'y'),
 (2, 'a'),
 (4, 'x'),
 (4, 'y'),
 (4, 'a')]

34. Write a program that calculates the mean, median , and mode of a lsit of numbers using list comprehension

In [76]:
def mode(l1):
    frequency_dict = {}
    for i in l1:
        if i in frequency_dict.keys():
            frequency_dict[i] = frequency_dict[i] + 1
        else:
            frequency_dict[i] = 1
            
    
    max_freq = max(frequency_dict.values())

    # Find the mode(s) by iterating through the dictionary
    mode = [key for key, value in frequency_dict.items() if value == max_freq]

    return mode[0]

# median
def median(l1):
    sorted_list = sorted(l1)
    n = len(l1)
    if n %2 == 0: # even
        first = l1[n // 2 - 1]
        second = l1[(n//2)]
        return (first + second) / 2
    else:
        return l1[n//2]
    
def stat_with_list(l1):
    mean = sum(l1)/len(l1)
    mode_ = mode(l1)
    median_ = median(l1)
    return [mean , mode_, median_]
stat_with_list([3,4,5,6,7,3,4,5,5,5])

[4.7, 5, 5.0]

35. Create a program that generates Pascal's triangle up to a specified number of rows using list comprehension

In [77]:
def generate_pascals_triangle(num_rows):
    if num_rows <= 0:
        return []

    triangle = [[1]]
    
    for _ in range(1, num_rows):
        # Generate the next row of Pascal's triangle using list comprehension
        previous_row = triangle[-1]
        new_row = [1] + [previous_row[i] + previous_row[i + 1] for i in range(len(previous_row) - 1)] + [1]
        triangle.append(new_row)
    
    for row in triangle:
        print(" ".join(map(str, row)))

In [78]:
generate_pascals_triangle(4)

1
1 1
1 2 1
1 3 3 1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.

In [79]:
def factorial(num):
    if num == 0  or num == 1:
        return 1
    else:
        return num * factorial(num-1)

In [80]:
num_list = list(range(1,6))
factorials = [factorial(num) for num in num_list]
sum_of_digits = []
for num in factorials:
    sum_of_digits.append(sum([int(i) for i in str(num)]))
sum_of_digits

[1, 2, 6, 6, 3]

37. Write a program that finds the longest word in a sentence using list comprehension.

In [81]:
sentence = 'hello dear my name is satyam sharma, and I am going to become a data scientist'
list_sent = sentence.split()

# Use a list comprehension to create a list of (word, length) pairs
temp = [(word, len(word)) for word in list_sent]

# Find the word with the maximum length using max() and a lambda function
name, size = max(temp, key=lambda x: x[1])

print(name, size)

scientist 9

38. Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.

In [82]:
l = ['satyam','scientist','obnoxious','amazing','kind','rude','generous']

In [83]:
def count_vowels(s: str):
    count = 0
    for i in s:
        if i in list('aeiou'):
            count +=1
    return count

In [84]:
[name for name in l if count_vowels(name)> 3]

['obnoxious', 'generous']

39. Develop a program that calculates the sum of the digits of number sfrom 1 to 1000 using list comprehension

In [85]:
nums = list(range(1,1001))
digit_sum = []
for num in nums:
    sum_of_digits.append(sum([int(i) for i in str(num)]))
for i in sum_of_digits:
    print(i , end = " " )

1 2 6 6 3 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 10 2 3 4 5 6 7 8 9 10 11 3 4 5 6 7 8 9 10 11 12 4 5 6 7 8 9 10 11 12 13 5 6 7 8 9 10 11 12 13 14 6 7 8 9 10 11 12 13 14 15 7 8 9 10 11 12 13 14 15 16 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18 1 2 3 4 5 6 7 8 9 10 2 3 4 5 6 7 8 9 10 11 3 4 5 6 7 8 9 10 11 12 4 5 6 7 8 9 10 11 12 13 5 6 7 8 9 10 11 12 13 14 6 7 8 9 10 11 12 13 14 15 7 8 9 10 11 12 13 14 15 16 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18 10 11 12 13 14 15 16 17 18 19 2 3 4 5 6 7 8 9 10 11 3 4 5 6 7 8 9 10 11 12 4 5 6 7 8 9 10 11 12 13 5 6 7 8 9 10 11 12 13 14 6 7 8 9 10 11 12 13 14 15 7 8 9 10 11 12 13 14 15 16 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18 10 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 20 3 4 5 6 7 8 9 10 11 12 4 5 6 7 8 9 10 11 12 13 5 6 7 8 9 10 11 12 13 14 6 7 8 9 10 11 12 13 14 15 7 8 9 10 11 12 13 14 15 16 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18 10 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 20 12 13 14 15 16 17 18 19 20 21 4 5 6 7 8 9 10 11 12 13 5 6 7 8 9 10 11 12 13 14 6 7 8 9 10 11 12 13 14 15 7 8 9 10 11 12 13 14 15 16 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18 10 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 20 12 13 14 15 16 17 18 19 20 21 13 14 15 16 17 18 19 20 21 22 5 6 7 8 9 10 11 12 13 14 6 7 8 9 10 11 12 13 14 15 7 8 9 10 11 12 13 14 15 16 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18 10 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 20 12 13 14 15 16 17 18 19 20 21 13 14 15 16 17 18 19 20 21 22 14 15 16 17 18 19 20 21 22 23 6 7 8 9 10 11 12 13 14 15 7 8 9 10 11 12 13 14 15 16 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18 10 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 20 12 13 14 15 16 17 18 19 20 21 13 14 15 16 17 18 19 20 21 22 14 15 16 17 18 19 20 21 22 23 15 16 17 18 19 20 21 22 23 24 7 8 9 10 11 12 13 14 15 16 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18 10 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 20 12 13 14 15 16 17 18 19 20 21 13 14 15 16 17 18 19 20 21 22 14 15 16 17 18 19 20 21 22 23 15 16 17 18 19 20 21 22 23 24 16 17 18 19 20 21 22 23 24 25 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18 10 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 20 12 13 14 15 16 17 18 19 20 21 13 14 15 16 17 18 19 20 21 22 14 15 16 17 18 19 20 21 22 23 15 16 17 18 19 20 21 22 23 24 16 17 18 19 20 21 22 23 24 25 17 18 19 20 21 22 23 24 25 26 9 10 11 12 13 14 15 16 17 18 10 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 20 12 13 14 15 16 17 18 19 20 21 13 14 15 16 17 18 19 20 21 22 14 15 16 17 18 19 20 21 22 23 15 16 17 18 19 20 21 22 23 24 16 17 18 19 20 21 22 23 24 25 17 18 19 20 21 22 23 24 25 26 18 19 20 21 22 23 24 25 26 27 1

40. Write a program that generates a list of prime palindrome numbers using list comprehension

In [86]:
## checking numbers till 100
n = 100

# Create a list of numbers from 2 to n
numbers = list(range(2, n + 1))

# Use list comprehension to filter prime numbers
prime_numbers = [num for num in numbers if all(num % div != 0 for div in range(2, int(num**0.5) + 1))]

In [87]:
def palindrome(num):
    if str(num) == (str(num))[::-1]:
        return True

In [88]:

prime_palindrome = [num for num in prime_numbers if palindrome(num)]
print(prime_palindrome)

[2, 3, 5, 7, 11]